/*.form-group{    
    padding-top: 7px;
    padding-left:5px;
}
.container{
   /* border-color:red;
    border-style: solid;
    padding-top: 30px;
    padding-left: 70px;
}*/
.container{
   /* border-color:red;
    border-style: solid;*/
    padding-top: 50px;
}