.col-sm-1{

}

.col-sm-10{

}

.form-group row{
    padding-top: 50px;
}
.col-form-label{

}
.container{
    padding-top: 10px;
}

.heading{
    padding-left: 10px;

}
.form-horizontal{
 padding-left: 20px;
}

.btn btn-success{
    
}

.btn btn-primary{
  
}